<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards"  *ngIf="awardsobj">
    <div class="w-100">
      <h2 class="mb-5"> {{awardsobj.li0}}</h2>
      <ul class="fa-ul mb-0" >
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
         {{awardsobj.li1}}</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          {{awardsobj.li2}}</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          {{awardsobj.li3}}</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          {{awardsobj.li4}}</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          2<sup>nd</sup>
          {{awardsobj.li5}}</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup>
          {{awardsobj.li6}}</li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          3<sup>rd</sup>
          {{awardsobj.li7}}</li>
      </ul>
    </div>
  </section>